<span class="btn-galaxy__spark" aria-hidden="true"></span>
<span class="btn-galaxy__backdrop" aria-hidden="true"></span>
<span class="btn-galaxy__starfield" aria-hidden="true">
  <span class="btn-galaxy__star btn-galaxy__star--static"></span>
  <span class="btn-galaxy__star btn-galaxy__star--static"></span>
  <span class="btn-galaxy__star btn-galaxy__star--static"></span>
  <span class="btn-galaxy__star btn-galaxy__star--static"></span>
</span>
<span class="btn-galaxy__orbit" aria-hidden="true">
  <span class="btn-galaxy__ring">
    <span class="btn-galaxy__star"></span>
    <span class="btn-galaxy__star"></span>
    <span class="btn-galaxy__star"></span>
    <span class="btn-galaxy__star"></span>
    <span class="btn-galaxy__star"></span>
    <span class="btn-galaxy__star"></span>
    <span class="btn-galaxy__star"></span>
    <span class="btn-galaxy__star"></span>
    <span class="btn-galaxy__star"></span>
    <span class="btn-galaxy__star"></span>
    <span class="btn-galaxy__star"></span>
    <span class="btn-galaxy__star"></span>
    <span class="btn-galaxy__star"></span>
    <span class="btn-galaxy__star"></span>
    <span class="btn-galaxy__star"></span>
    <span class="btn-galaxy__star"></span>
    <span class="btn-galaxy__star"></span>
    <span class="btn-galaxy__star"></span>
    <span class="btn-galaxy__star"></span>
    <span class="btn-galaxy__star"></span>
  </span>
</span>
<span class="btn-galaxy__label">{{ label }}</span>
